header {
    font-size: 40px;
    padding: 20px 0px;
    text-align: center;
    background-color: antiquewhite;
}

body {
    display: block;
    margin: 0px;
    background: #ffffff;
}

div #container {
    height: 500px;
}

div #menu {
    height: 100%;
    background-color: #f1f1f1;
    /*border: 1px solid #000000;*/
    float: left;
    position: relative;
    width: 30%;
    box-sizing: border-box;
}

div.menu-item {
    /*border: 1px solid #000000;*/
    float: right;
    position: relative;
    width: 70%;
    box-sizing: border-box;
    height: 100%;
    /*background-color: #eeeeee;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

li:hover {
    background-color: #555;
    color: #ffffff;
}

div #showing-search-list {
    z-index: 99;
    width: 172.7px;
    position: absolute;
    background-color: #dddddd;
}

div #showing-search-list>p {
    border: 1px solid #000000;
    margin: 0px;
    padding: 5px;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: antiquewhite;
}

table {
    width: 80%;
    margin-top: 30px;
}